 <div class="header sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="homepage.html">
                    <img class="navbar-logo" src="\images\nav_logo.PNG" alt="">
                </a>
                
                <button class="menu-links navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu-links navbar-nav ms-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="homepage.html">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="register_patient.html">Add Patient Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Patient Request</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">View All Patients</a>
                        </li>
