{{> header}}

<link rel="stylesheet" href="/common/add_patient.css">
<link rel="stylesheet" href="/common/login_register.css">
<script type="text/javascript" src="/common/scripts/add_patient_func.js"></script>

<div class="main-content">
    <!-- ======= Title ======= -->
    <div class="_title container-fluid">
        <h1>Add Patient Data</h1>
        <h2 id="time"></h2>
    </div>

    <!-- ======= Registration Details ======= -->
    <div class="reg-content">
        <form action="/add-patient-db" method="post" id="add-patient-form" onsubmit="return confirmPatientReg();">
            <table class="reg-items">
                <tr>
                    <th class="item-label"><h5>Full Name</h5></th>
                </tr>
                <tr>
                    <th class="item-container"><input class="input-item form-control" type="text" id="fname" name="fname" placeholder="First Name" required></th>
                    <th class="item-container"><input class="input-item form-control" type="text" id="mname" name="mname" placeholder="Middle Name/Initial"></th>
                    <th class="item-container"><input class="input-item form-control" type="text" id="lname" name="lname" placeholder="Last Name" required></th>
                </tr>
                <tr>
                    <th class="item-label"><h5>Sex</h5></th>
                    <th class="item-label"><h5 id="bday-lbl">Birthday</h5></th>
                    <th class="item-label"><h5 id="age-lbl">Age</h5></th>
                </tr>
                <tr>
                    <th class="item-container"> 
                        <select class="input-item form-control" name="sex" id="sex">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <div class="agebday-notmatch">
                            <br>
                        </div>
                    </th>
                    <th class="item-container">
                        <input class="input-item form-control" type="date" id="bday" name="bday">
                        <div class="agebday-notmatch">
                            Birthday does not match with age.
                        </div>
                    </th>
                    <th class="item-container">
                        <input class="input-item form-control" type="number" id="age" name="age" min="0" required>
                        <div class="agebday-notmatch">
                            Age does not match with birthday.
                        </div>
                    </th>
                </tr>
            </table>
            <table class="reg-items">
                <tr>
                    <th class="item-label two-col"><h5>Phone Number</h5></th>
                    <th class="item-label two-col"><h5>Email</h5></th>
                </tr>
                <tr>
                    <th class="item-container"><input class="input-item form-control" type="text" id="pnum" name="pnum"></th>
                    <th class="item-container"><input class="input-item form-control" type="text" id="email" name="email" placeholder="username@bioscopic.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></th>
                </tr>
                <tr>
                    <th class="item-label"><h5>Address</h5></th>
                </tr>
                <tr>
                    <th class="item-container" colspan="2"><input class="input-item form-control" type="text" id="address" name="address"></th>
                </tr>
            </table>
            <div class="btn-container" colspan="2"><input class="reg-btn btn btn-primary btn-lg" type="submit" value="REGISTER"></div>
        </form>
    </div>
</div>
