<!-- To put files in each other -->
{{> header}}
<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <h6 class="dropdown-header">Hello, Username!</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">View Profile</a>
{{> header2}}
 <div class="main-content"></div>
 