<link href="/common/login_register.css" rel="stylesheet">

<div class="d-flex justify-content-center align-items-center vh-100 w">
    <div class="w-50">

        <form action="/add-user-db" method="post">
            <div class="spacer">
                <h1 class="text-center fw-bold mb-3">Register Account</h1>
                <label class="form-label">Full Name</label>
                <div class="d-flex justify-content-evenly mb-3 gap-3">
                    <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                    <input type="text" class="form-control" name="mname" placeholder="Middle Name/Initial">
                    <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
                </div>
                <div class="mb-3">
                    <label for="sex" class="form-label">Sex</label>
                    <select class="form-select" id="sex" name="sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="pnum" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="pnum" name="pnum" required>
                </div>
                <div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="username@bioscopic.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="8" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="prc" class="form-label">PRC License No. (Optional)</label>
                    <input type="text" class="form-control" id="prc" name="prc">
                </div>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary btn-lg">REGISTER</button>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            Already have an account?
            <p><a href="/" class="ms-1 link-offset-2 link-underline link-underline-opacity-0">Log In</a></p>
        </div>
    </div>
</div>
