{{> header}}

<link rel="stylesheet" href="/common/view_patients.css">
        <!-- ======= Main Content ======= -->
        <center id="nameOfPage">
            VIEW ALL PATIENTS
        </center>

        <div class="main-content">
            <div class="search-bar">
                <input type="text" placeholder="Search for Patient" class="search-input">
                <button type="submit">Search</button>
            </div>
            <div class="info-table">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center">PATIENT</th>
                            <th class="text-center">REQUEST</th>
                            <th class="text-center">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <!-- ROW 1 -->
                            <td>Name 1</td> <!-- ROW 1 COLUMN 1 -->
                            <td>Request 1</td> <!-- ROW 1 COLUMN 2 -->
                            <td>Status 1</td> <!-- ROW 1 COLUMN 3 -->
                        </tr>
                        <tr> <!-- ROW 2 -->
                            <td>Name 2</td> <!-- ROW 2 COLUMN 1 -->
                            <td>Request 2</td> <!-- ROW 2 COLUMN 2 -->
                            <td>Status 2</td> <!-- ROW 2 COLUMN 3 -->
                        </tr>
                        <tr> <!-- ROW 3 -->
                            <td>Name 3</td> <!-- ROW 3 COLUMN 1 -->
                            <td>Request 3</td> <!-- ROW 3 COLUMN 2 -->
                            <td>Status 3</td> <!-- ROW 3 COLUMN 3 -->
                        </tr>
                        <tr> <!-- ROW 4  -->
                            <td>Name 4</td> <!-- ROW 4 COLUMN 1 -->
                            <td>Request 4</td> <!-- ROW 4 COLUMN 2 -->
                            <td>Status 4</td> <!-- ROW 4 COLUMN 3 -->
                        </tr>
                        <tr> <!-- ROW 5 -->
                            <td>Name 5</td> <!-- ROW 5 COLUMN 1 -->
                            <td>Request 5</td> <!-- ROW 5 COLUMN 2 -->
                            <td>Status 5</td> <!-- ROW 5 COLUMN 3 -->
                        </tr>
                    </tbody>
                </table>
            </div>
            1 out of 1
            <div class="nextback-buttons">
                <button type="button">Back</button>
                <button type="button">Next</button>
            </div>
        </div>